.setterValue {
    color: #101f16;
    background-color: yellowgreen;
    margin: 20px auto;
    width: 460px;
    height: 165px;
    border: 2px solid yellowgreen;
    display: flex;
    justify-content: center;


}

.InputsContainer {
    margin-top: 25px;
    width: 350px;
}

.inputWay {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.InputName {
    font-size: 26px;
}

input {
    width: 100px;
    font-size: 26px;
    text-align: center;
}